{% extends "layout/game.html.twig" %}

{% block content %}

<div id="city" data-controller="city" data-foo="test" data-scene="{{ asset('build/website/images/scenes/city.glb') }}">

</div>
{% endblock %}
