{% extends "layout/game.html.twig" %}

{% block content %}
{% dump(slots) %}
<div id="city" data-controller="city"
     data-scene="{{ asset('build/website/images/scenes/city.glb') }}">

</div>
{% endblock %}
