{% extends "layout/game.html.twig" %}

{% block content %}
    <div id="map" data-controller="map"
         data-tilePath="{{ asset('build/website/images/tiles') }}"
        data-map="{{ jsonMapData }}"
         data-centerLocation="{{ jsonCenterLocation }}"
    >
    </div>
{% endblock %}
